img {
  height: 90vh;
  display:flex;
  position: relative;
  margin-left: -50px;
  top: 0;
  right: 0
 }
 
 .text-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 10px;
  font-size: 1.2em;
  color: aliceblue;
  position: absolute;
  top: 10vh;
  right: 0;
  width: 30%;
  background-color: #564d4d;
  height: 90vh;
 }
 
 p {
  padding-right: 4vw;
 }
 
 .title {
  font-size: 2em;
  margin-top: 20%;
  margin-bottom: 0;
 }
  
 .movie-specs {
  display: flex;
 }
 
 button:hover {
  cursor: pointer;
 }
 
.rating:hover,
.runtime:hover,
.release:hover,
button:hover {
  transform: scale(1.2)
}