header {
    display: flex;
    justify-content: center;
    background-color: black;
    height: 10vh
}

.app-title {
    font-size: 5vh;
    display: flex;
    align-items: center;
  
    color: #db0000;
}